{% extends 'base.html.twig' %}

{% block title %} - Societe index{% endblock %}


{% block path %}
    <a href="{{ path('app_societe_index') }}">Sociétés</a>
{% endblock %}
{% block content %}
    <table class="table">
        <thead>
                <tr>
                    <th>Nom</th>
                    <th>Téléphone standard</th>
                    <th>SIRET</th>
                </tr>
        </thead>
        <tbody>
                {% for societe in societes %}
                    <tr onclick="window.location.href = '{{ path('app_societe_show', {'id': societe.id}) }}'">
                        <td>{{ societe.name }}</td>
                        <td>{{ societe.telephoneStandard }}</td>
                        <td>{{ societe.siret }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>

    <a class="btn create" href="{{ path('app_societe_new') }}">Create new</a>

{% endblock %}
