{% extends 'base.html.twig' %}
{% set societes = render(path('api_societe_index'))|json_decode %}

{% block title %} - Societe index{% endblock %}


{% block path %}
    <a href="{{ path('app_societe_index') }}">Sociétés</a>
{% endblock %}
{% block content %}
    <table class="table">
        <thead>
                <tr>
                    <th>Nom</th>
                    <th>Téléphone standard</th>
                    <th>SIRET</th>
                </tr>
        </thead>
        <tbody>
                {% for societe in societes %}
                    <tr onclick="window.location.href = '{{ path('app_societe_show', {'id': societe.id}) }}'">
                        <td>{{ societe.nom }}</td>
                        <td>{{ societe.telephoneStandard }}</td>
                        <td>{{ societe.siret }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>

    <a class="btn create" onclick="uiPopupBtn('#nvlSociete')">Create new</a>
    
    <div id="nvlSociete"> <!-- popup NVL societe -->
        <span>Créer une nouvelle societe :</span>

        {{ include('societe/_form.html.twig') }}
        
    </div>


    <script>
        $(function(){
            $( "#nvlSociete" ).popup();
        });
    </script>
{% endblock %}
    