{% extends 'base.html.twig' %}

{% block title %} - Société{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ asset('styles/societe.css') }}">
    
{% endblock %}

{% block path %}
    <a href="{{ path('app_societe_index') }}">Sociétés/</a>
    <a href="{{ path('app_societe_show', {'id': societe.id}) }}">{{ societe.nom }}</a>
{% endblock %}
{% block content %}
    <div class="grid">

        <div class="infoSpace"> <!-- Espace Informations -->
            <div class="item">

                <div class="spacedLine">
                    <h1>{{ societe.nom }}</h1>
                    <a class="btn ui-popupBtn" asoc="#editSte">Edit</a>
                </div>

                <div>
                    <span>Téléphone standard: {{ societe.telephoneStandard }}</span>
                </div>
                <div>
                    <span>SIRET: {{ societe.siret }}</span>
                </div>

                
                <div id="tabs">
                    <ul style="margin-inline: -1em;">
                        <li href="#tabs-1">Contacts</li>
                        <li href="#tabs-2">Sites</li>
                        <li href="#tabs-3">Projets</li>
                    </ul>
                    <div id="tabs-1">
                        <div>
                            <a class="btn ui-popupBtn" asoc="#nvxContact">Nouveau</a>
                            <div class="ui-listGrid">
                                {% for contact in societe.contacts %}
                                    <div class="ui-listGridItem">
                                        <img src="{{ asset('img/profile.png') }}" style="height:100%">
                                        <div>
                                            <span>{{ contact }}</span><br>
                                            mél: <span>{{ contact.mel }}</span><br>
                                            tél: <span>{{ contact.telephone }}</span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            {#
                            <table style="margin-top: 10px;" class="table objTable"> <!-- liste contacts -->
                                <tr>
                                    <th colspan="2">
                                        <span>Contacts</span>
                                        
                                    </th>
                                </tr>
                                {% for contact in societe.contacts %}
                                    <tr class="collapsible" onclick="colaps(this)">
                                        <td>{{ contact }}</td>
                                    </tr>
                                    <tr class="collContent">
                                        <td>
                                            <div>
                                                <div class="spacedLine">
                                                    <span>Infos :</span>
                                                    <a class="btn" href="{{ path('app_contact_edit', {'id': contact.id, 'msg': 'Modifier le contact ' ~ contact}) }}" target="_blank">edit</a>
                                                </div>
                                                Mél :
                                                <ul>
                                                    <li>{{ contact.mel }}</li>
                                                </ul>
                                                Téléphone :
                                                <ul>
                                                    <li>{{ contact.telephone }}</li>
                                                </ul>
                                                Post :
                                                <ul>
                                                    <li>{{ contact.post }}</li>
                                                </ul>

                                                <div class="spacedLine">
                                                    <span>Roles :</span>
                                                    <a class="btn" href="{{ path('app_contact_edit', {'id': contact.id, 'msg': 'Modifier le contact ' ~ contact}) }}" target="_blank">edit</a>
                                                </div>
                                                {% for relation in contact.adresses %}
                                                    <ul>
                                                        {{ relation }} -> {{ relation.adresse }}
                                                    </ul>
                                                {% else %}
                                                    <ul>
                                                        aucune adresse associée
                                                    </ul>
                                                {% endfor %}
                                            
                                            </div>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td>aucun contact associé</td>
                                    </tr>
                                {% endfor %}
                            </table>
                            #}
                        </div>
                    </div>
                    <div id="tabs-2">
                        <div>

                            <table style="margin-top: 10px;" class="table objTable"> <!-- liste Sites -->
                                <tr>
                                    <th colspan="2">
                                        <span>Sites</span>
                                        <a class="btn ui-popupBtn" asoc="#menueSites">[+]</a>
                                    </th>
                                </tr>
                                {% for adresse in societe.adresses %}
                                    <tr class="collapsible" onclick="colaps(this)">
                                        <td>{{ adresse }}</td>
                                    </tr>
                                    <tr class="collContent">
                                        <td>
                                            <div>
                                                <div class="spacedLine">
                                                    <span>Adresse :</span>
                                                    <a class="btn" href="{{ path('app_adresse_show', {'id': adresse.id, 'msg': 'Modifier l\'adresse du site associer à la sociétée ' ~ societe.nom}) }}">consulter</a>
                                                </div>
                                                <ul>
                                                    {{ adresse.numeroVoie }} {{ adresse.nomVoie }},<br>
                                                    {{ adresse.codePostal }} {{ adresse.commune }}, {{ adresse.Pays }}<br>
                                                    <ul>
                                                        {{ adresse.complement|nl2br }}
                                                    </ul>
                                                </ul>
                                                Contacts associés :
                                                {% for relation in adresse.contacts %}
                                                    <div style="width: 100%" class="btn" onclick="unwrap(this)">{{ relation.contact }} -> {{ relation }}</div>
                                                    <div class="wrapper">
                                                        <div class="inner">
                                                            <ul>
                                                                tél: {{ relation.contact.telephone }}<br>
                                                                mél: {{ relation.contact.mel }}<br>
                                                                notes :
                                                                <ul>
                                                                    {{ relation.notes }}
                                                                </ul>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    <ul>
                                                        aucun contact associé
                                                    </ul>
                                                {% endfor %}

                                            </div>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="2">aucun site associé</td>
                                    </tr>
                                {% endfor %}
                            </table>

                        </div>
                    </div>
                    <div id="tabs-3">
                        <div>

                            <table style="margin-top: 10px;" class="table objTable"> <!-- liste Projets -->
                                <tr>
                                    <th colspan="2">
                                        <span>Projets</span>
                                        <a class="btn ui-popupBtn" asoc="#nvxProjet">[+]</a>
                                    </th>
                                </tr>
                                {% for pair in societe.projets %}
                                    <tr class="collapsible" onclick="colaps(this)">
                                        <td>{{ pair.relation }}</td>
                                        <td>{{ pair.projet }}</td>
                                    </tr>
                                    <tr class="collContent">
                                        <td colspan="2">
                                            <div>
                                                <div style="text-align: right;">
                                                    <a class="btn" href="{{ path('app_projet_show', {'id': pair.projet.id}) }}">ouvrir projet</a>
                                                </div>
                                                Date de début/fin :
                                                <ul>
                                                    <li>{{ pair.projet.dateDeb ? pair.projet.dateDeb|date('Y/m/d') : '' }}</li>
                                                    <li>{{ pair.projet.dateFin ? pair.projet.dateFin|date('Y/m/d') : '' }}</li>
                                                </ul>
                                                Déscription :
                                                <ul>
                                                    <li>{{ pair.projet.description|nl2br }}</li>
                                                </ul>
                                                
                                            </div>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="2">aucun projet associé</td>
                                    </tr>
                                {% endfor %}
                            </table>

                        </div>
                    </div>
                </div>
            </div>


            
            <div id="editSte"> <!-- popup Edit STE -->
                <span>edit societe</span>
                {{ include('societe/_delete_form.html.twig') }}
                <h2>Modifier les informations de la société</h2>

                {{ form_errors(formSte) }}
                {{ form_start(formSte, {
                    'action': path('app_societe_edit', {'id': societe.id}),
                    'method': 'POST'
                }) }}
                    {{ form_row(formSte.nom) }}
                    {{ form_row(formSte.telephoneStandard) }}
                    {{ form_row(formSte.siret) }}
                    {{ form_row(formSte._token) }}
                    <button class="btn">Save</button>
                {{ form_end(formSte, {render_rest: false}) }}
            </div>

            
            <div id="menueSites"> <!-- popup NVX site -->
                <span>Nouveaux site</span>
                <h2>Nouveau site associer à la societe {{ societe.nom }}</h2>

                {{ form_errors(formAdresse) }}
                {{ form_start(formAdresse, {
                    'action': path('app_adresse_new', {'societe': societe.id}),
                    'method': 'POST'
                }) }}
                    {{ form_row(formAdresse.nomSite) }}
                    {{ form_row(formAdresse.pays) }}
                    {{ form_row(formAdresse.commune) }}
                    {{ form_row(formAdresse.codePostal) }}
                    {{ form_row(formAdresse.nomVoie) }}
                    {{ form_row(formAdresse.numeroVoie) }}
                    {{ form_row(formAdresse.complement) }}
                    {{ form_row(formAdresse._token) }}
                    <button class="btn">Save</button>
                {{ form_end(formAdresse, {render_rest: false}) }}
                
            </div>


            <div id="nvxContact"> <!-- popup NVX contact -->
                <span>Popup Title</span>
                <h2>Créer un contact associer a la société {{ societe.nom }}</h2>

                {{ form_errors(formContact) }}
                {{ form_start(formContact, {
                    'action': path('app_contact_new', {'societe': societe.id}),
                    'method': 'POST'
                }) }}
                    {{ form_row(formContact.post) }}
                    {{ form_row(formContact.nom) }}
                    {{ form_row(formContact.prenom) }}
                    {{ form_row(formContact.telephone) }}
                    {{ form_row(formContact.mel) }}
                    {{ form_row(formContact._token) }}
                    <button class="btn">Save</button>
                {{ form_end(formContact, {render_rest: false}) }}
                
            </div>


            <div id="nvxProjet"> <!-- popup NVX projet -->
                <span>nouveux projet</span>
                <h2>Créer un projet associer a la société {{ societe.nom }}</h2>

                {{ form_errors(formProj) }}
                {{ form_start(formProj, {
                    'action': path('app_projet_new', {'societe': societe.id}),
                    'method': 'POST'
                }) }}
                    {{ form_row(formProj.nom) }}
                    {{ form_row(formProj.dateDeb) }}
                    {{ form_row(formProj.dateFin) }}
                    {{ form_row(formProj.description) }}
                    {{ form_row(formProj._token) }}
                    <button class="btn">Save</button>
                {{ form_end(formProj, {render_rest: false}) }}
                
            </div>
        </div>


        <div class="comsSpace"> <!-- Espace Comunications -->
            <div class="item">

              
                <div> <!-- historique -->
                    <div style="width: 100%" class="btn" onclick="unwrap(this)">Historique</div>
                    <div class="wrapper">
                        <div class="inner">
                            {% include 'history/logsTable.twig' %}
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


    
    <script>

        $(function() {
            $( "#tabs" ).tabs();
            $( [ "#editSte", "#nvxContact", "#menueSites", "#nvxProjet" ] ).popup();
        })
        

    </script>
{% endblock %}
