{% extends 'base.html.twig' %}

{% block title %} - Société{% endblock %}

{% block content %}
    <h1>Société - {{ societe.name }}</h1>
    <h2>Téléphone standard: {{ societe.telephoneStandard }} </h2>
    <h2>SIRET: {{ societe.siret }}</h2>
    
    <div>
        <h3> Contacts </h3>
        {% for contact in societe.contacts %}
            <div>{{ contact }}</div>


        {% endfor %}
    </div>
    <div>
        <h3> Projets </h3>
        {% for pair in societe.projets %}
            <div>{{ pair.relation }} de {{ pair.projet }}</div>
        {% endfor %}
    </div>
    <div>
        <h3> Adresses </h3>
        {% for pair in societe.adresses %}
            <div>{{ pair.relation }}</div>
        {% endfor %}
    </div>
    <a class="btn" href="{{ path('app_societe_index') }}">back to list</a>

    <a class="btn" href="{{ path('app_societe_edit', {'id': societe.id}) }}">edit</a>

    {{ include('societe/_delete_form.html.twig') }}
{% endblock %}
