{% extends 'base.html.twig' %}

{% block title %} - LienFibre{% endblock %}

{% block content %}
    <h1>LienFibre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lien_fibre.id }}</td>
            </tr>
            <tr>
                <th>Nombre de fibres</th>
                <td>{{ lien_fibre.nombreFibres }}</td>
            </tr>
            <tr>
                <th>Distance</th>
                <td>{{ lien_fibre.distance }}</td>
            </tr>
            <tr>
                <th>Attenuation</th>
                <td>{{ lien_fibre.attenuation }}</td>
            </tr>
            <tr>
                <th>Référence Fibre</th>
                <td>{{ lien_fibre.referenceFibre }}</td>
            </tr>
            <tr>
                <th>Référence Operateur</th>
                <td>{{ lien_fibre.referenceOperateur }}</td>
            </tr>
            <tr>
                <th>Référence Liaison</th>
                <td>{{ lien_fibre.referenceLiaison }}</td>
            </tr>
            <tr>
                <th>Date de livraison</th>
                <td>{{ lien_fibre.dateLivraison ? lien_fibre.dateLivraison|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date d'activation</th>
                <td>{{ lien_fibre.dateActivation ? lien_fibre.dateActivation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Lien activé</th>
                <td>{{ lien_fibre.lienActive ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn" href="{{ path('app_lien_fibre_index') }}">back to list</a>

    <a class="btn" href="{{ path('app_lien_fibre_edit', {'id': lien_fibre.id}) }}">edit</a>

    {{ include('lien_fibre/_delete_form.html.twig') }}
{% endblock %}
