{% extends 'base.html.twig' %}

{% block title %} - Edit Projet{% endblock %}


{% block path %}
    <a href="{{ path('app_projet_index') }}">Projets/</a>
    <a href="{{ path('app_projet_show', {'id': projet.id}) }}">{{ projet.name }}/</a>
    <a href="{{ path('app_projet_edit', {'id': projet.id}) }}">Edit</a>
{% endblock %}
{% block content %}

    {{ include('projet/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('projet/_delete_form.html.twig') }}
    
{% endblock %}
