{% extends 'base.html.twig' %}

{% block title %} - Projet{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('styles/calendar.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/projet.css') }}">
    <script type="text/javascript" src="{{ asset('scripts/draggableWindow.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('styles/draggableWindow.css') }}">
{% endblock %}

{% block content %}
    <div class="grid">
        <div class="page-rightbar">
            <div class="item">
                <div>
                    <div class="cal-container">
                        <div>
                            <span>Débute le :</span>
                            <input type="date" value="{{ projet.startDate ? projet.startDate|date('Y-m-d') : '' }}"/>
                        </div>
                        <div>
                            <span>Fini le :</span>
                            <input type="date" value="{{ projet.dateEnd ? projet.dateEnd|date('Y-m-d') : '' }}"/>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 10px;">
                    <table class="table objTable">
                        <tr>
                            <th colspan="2">
                                <span>Sociétés</span>
                                <a class="btn" onclick="menueNvlSte(this)">[+]</a>
                            </th>
                        </tr>
                        {% for pair in projet.societes %}
                            <tr class="collapsible" onclick="colaps(this)">
                                <td>{{ pair.relation }}</td>
                                <td>{{ pair.societe }}</td>
                            </tr>
                            <tr class="collContent">
                                <td colspan="2">esfsefsqe</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="2">aucune sociétée associée</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <div class="draggableWindow visibleWindow" id="menueNvlSte">
                        <div class="window-top">
                            <div>Click here to move</div>
                            <a class="btn deleate" onclick="menueNvlSte(this)">Close</a>
                        </div>
                        <h2>Associer une sociétée au projet {{ projet.name }}</h2>

                        {{ form_errors(formRelProjSte) }}

                        {{ form_start(formRelProjSte) }}
                            {{ form_row(formRelProjSte.societe, {placeholder: "choisire une ste"} ) }}
                            {{ form_row(formRelProjSte.role) }}
                            {{ form_row(formRelProjSte.notes) }}
                            {{ form_row(formRelProjSte._token) }}
                            

                            <button type="submit" class="btn">Save</button>
                        {{ form_end(formRelProjSte, {render_rest: false}) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="page-header">
            <div class="item">
                <div class="proj-head">
                    <div>
                        <h1>- {{ projet.name }}</h1>
                        <span>- Id: {{ projet.id }}</span>
                    </div>
                    <div style="margin-top: 50px; width: 50%;">
                        <label>Description :</label>
                        <textarea>rgr
                        </textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-main">
            <div class="item">
                <div class="treeView">
                    <h2>Arborescence du projet</h2>
                    {{ htmlTree|raw }}
                </div>

                <div>
                    <div style="width: 100%" class="btn" onclick="unwrap(this)">Historique</div>
                    <div class="wrapper">
                        <div class="inner">
                            {% include 'history/logsTable.twig' %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>

        makeDraggable(document.querySelector('#menueNvlSte'));


        function colaps(coll) {
            var content = coll.nextElementSibling;
            if (content.style.display === "table-row") {
                coll.classList.toggle("active");
                content.style.display = "none";
            } else {
                var allColl = document.getElementsByClassName("collapsible");
                for (i = 0; i < allColl.length; i++) {
                    allColl[i].classList.remove("active");
                    allColl[i].nextElementSibling.style.display = "none";
                }
                coll.classList.toggle("active");
                content.style.display = "table-row";
            }
        }


        function menueNvlSte(btn){
            var window = document.getElementById("menueNvlSte");
            window.classList.toggle("visibleWindow");
            btnRect = btn.getBoundingClientRect();
            wndoRect = window.getBoundingClientRect();
            window.style.top = btnRect.top + "px";
            var diff = btnRect.right + wndoRect.left - wndoRect.right;
            window.style.left = diff + "px";
        }
    </script>
{% endblock %}
