{% extends 'base.html.twig' %}

{% block title %} - Projet{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('styles/calendar.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/projet.css') }}">
{% endblock %}

{% block content %}
    <div class="grid">
        <div class="page-rightbar">
            <div class="item">
                <div>
                    <div class="cal-container">
                        <div>
                            <span>Débute le :</span>
                            <input type="date" value="{{ projet.startDate ? projet.startDate|date('Y-m-d') : '' }}"/>
                        </div>
                        <div>
                            <span>Fini le :</span>
                            <input type="date" value="{{ projet.dateEnd ? projet.dateEnd|date('Y-m-d') : '' }}"/>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 10px;">
                    <table class="table objTable">
                        <tr>
                            <th colspan="2">
                                <span>Sociétés</span>
                                <a class="regularButton" onclick="menueNvlSte()">[+]</a>
                            </th>
                        </tr>
                        {% for pair in projet.societes %}
                            <tr class="collapsible" onclick="colaps(this)">
                                <td>{{ pair.relation }}</td>
                                <td>{{ pair.societe }}</td>
                            </tr>
                            <tr class="collContent">
                                <td colspan="2">esfsefsqe</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="2">aucune sociétée associée</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <div class="page-header">
            <div class="item">
                <div class="proj-head">
                    <div>
                        <h1>- {{ projet.name }}</h1>
                        <span>- Id: {{ projet.id }}</span>
                    </div>
                    <div style="margin-top: 50px; width: 50%;">
                        <label>Description :</label>
                        <textarea>rgr
                        </textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-main">
            <div class="item">
                <div class="treeView">
                    <h2>Arborescence du projet</h2>
                    {{ htmlTree|raw }}
                </div>

                <div>
                    {% include 'history/logsTable.twig' %}
                </div>
                
            </div>
        </div>
    </div>

    <script>
        function colaps(coll) {
            var content = coll.nextElementSibling;
            if (content.style.display === "table-row") {
                coll.classList.toggle("active");
                content.style.display = "none";
            } else {
                var allColl = document.getElementsByClassName("collapsible");
                for (i = 0; i < allColl.length; i++) {
                    allColl[i].classList.remove("active");
                    allColl[i].nextElementSibling.style.display = "none";
                }
                coll.classList.toggle("active");
                content.style.display = "table-row";
            }
        }


        function menueNvlSte(){
            
        }
    </script>
{% endblock %}
