{% extends 'base.html.twig' %}

{% block title %} - Projet{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ asset('styles/calendar.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/projet.css') }}">
    
    <link rel="stylesheet" href="{{ asset('styles/draggableWindow.css') }}">
    <script type="text/javascript" src="{{ asset('scripts/draggableWindow.js') }}"></script>
{% endblock %}


{% block path %}
    <a href="{{ path('app_projet_index') }}">Projets/</a>
    <a href="{{ path('app_projet_show', {'id': projet.id}) }}">{{ projet.nom }}</a>
{% endblock %}
{% block content %}
    <div class="grid">

        <div class="page-header"> <!-- ENTÊTE -->
            <div class="item">


                <div class="proj-head">
                    <div>
                        <span>- Id: {{ projet.id }}</span>
                        <a class="btn" onClick="editProj(this)">Edit</a>
                    </div>
                    <div style="width: 50%;">
                        <span>Description :</span>
                        <p>{{ projet.description|nl2br }}</p>
                    </div>
                </div>


                <div class="draggableWindow visibleWindow" id="editProj"> <!-- Edit PROJ -->
                    <div class="window-top">
                        <div>&#10021;</div>
                        <a class="btn deleate" onclick="editProj(this)">fermer popup</a>
                    </div>
                    {{ include('projet/_delete_form.html.twig') }}
                    <h2>Editer le projet</h2>

                    {{ form_errors(formProj) }}
                    {{ form_start(formProj, {
                        'action': path('app_projet_edit', {'id': projet.id}),
                        'method': 'POST'
                    }) }}
                        {{ form_row(formProj.nom) }}
                        {{ form_row(formProj.description) }}
                        {{ form_row(formProj.dateDeb) }}
                        {{ form_row(formProj.dateFin) }}
                        {{ form_row(formProj._token) }}
                        <button class="btn">Save</button>
                    {{ form_end(formProj, {render_rest: false}) }}
                </div>

            </div>
        </div>



        <div class="page-main"> <!-- CORPS -->
            <div class="item">

                {# 
                <div class="treeView">
                    <h2>Arborescence du projet</h2>
                    {{ htmlTree|raw }}
                </div>
                #}

                <div> <!-- historique -->
                    <div style="width: 100%" class="btn" onclick="unwrap(this)">Historique</div>
                    <div class="wrapper">
                        <div class="inner">
                            {% include 'history/logsTable.twig' %}
                        </div>
                    </div>
                </div>


            </div>
        </div>
        
        
        
        <div class="page-rightbar"> <!-- BARE DE DROITE -->
            <div class="item">


                <div class="cal-container"> <!-- calendrier début / fin -->

                    <div>
                        <span>Débute le :</span>
                        <span>{{ projet.dateDeb ? projet.dateDeb|date('Y/m/d') : '' }}</span>
                    </div>
                    <div>
                        <span>Fini le :</span>
                        <span>{{ projet.dateFin ? projet.dateFin|date('Y-m-d') : '' }}</span>
                    </div>

                </div>
                
                <div style="margin-top: 10px;"> <!-- liste et gestion des sociétés associés -->

                    <table class="table objTable"> <!-- liste -->
                        <tr>
                            <th colspan="2">
                                <span>Sociétés</span>
                                <a class="btn" onclick="menueSte(this)">[+]</a>
                            </th>
                        </tr>
                        {% for pair in projet.societes %}
                            <tr class="collapsible" onclick="colaps(this)">
                                <td>{{ pair.societe }}</td>
                                <td>{{ pair.relation }}</td>
                            </tr>
                            <tr class="collContent">
                                <td colspan="2">
                                    <div style="text-align-last: justify;">
                                        <span>Notes:</span>
                                        <a class="btn" href="{{ path('app_relation_projet_societe_edit', {'id': pair.relation.id, 'msg': 'Modifier la relation sociétée projet entre ' ~ pair.societe ~ ' et ' ~ projet.nom}) }}" target="_blank">edit</a>
                                    </div>
                                    <p>{{ pair.relation.notes|nl2br }}</p>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="2">aucune sociétée associée</td>
                            </tr>
                        {% endfor %}
                    </table>

                    <div class="draggableWindow visibleWindow" id="menueSte"> <!-- Menue STE -->
                        <div class="window-top">
                            <div>&#10021;</div>
                            <a class="btn deleate" onclick="menueSte(this)">Close</a>
                        </div>
                        <h2>Associer une sociétée au projet {{ projet.nom }}</h2>

                        {{ form_errors(formRelProjSte) }}
                        {{ form_start(formRelProjSte, {
                            'action': path('app_relation_projet_societe_new', {'projet': projet.id}),
                            'method': 'POST'
                        }) }}
                            {{ form_row(formRelProjSte.societe, {placeholder: "choisire une ste"} ) }}
                            {{ form_row(formRelProjSte.role) }}
                            {{ form_row(formRelProjSte.notes) }}
                            {{ form_row(formRelProjSte._token) }}
                            <button class="btn">Save</button>
                        {{ form_end(formRelProjSte, {render_rest: false}) }}
                        
                    </div>

                </div>


            </div>
        </div>

    </div>





    <script>
        makeDraggable(document.querySelector('#menueSte'));
        makeDraggable(document.querySelector('#editProj'));



        function colaps(coll) {
            var content = coll.nextElementSibling;
            if (content.style.display === "table-row") {
                coll.classList.toggle("active");
                content.style.display = "none";
            } else {
                var allColl = document.getElementsByClassName("collapsible");
                for (i = 0; i < allColl.length; i++) {
                    allColl[i].classList.remove("active");
                    allColl[i].nextElementSibling.style.display = "none";
                }
                coll.classList.toggle("active");
                content.style.display = "table-row";
            }   
        }


        function menueSte(btn){
            var window = document.getElementById("menueSte");
            window.classList.toggle("visibleWindow");
            btnRect = btn.getBoundingClientRect();
            wndoRect = window.getBoundingClientRect();
            window.style.top = btnRect.top + "px";
            var diff = btnRect.right + wndoRect.left - wndoRect.right;
            window.style.left = diff + "px";
        }

        function editProj(btn){
            var window = document.getElementById("editProj");
            window.classList.toggle("visibleWindow");
            btnRect = btn.getBoundingClientRect();
            window.style.top = btnRect.top + "px";
            window.style.left = btnRect.right + "px";
        }


    </script>
{% endblock %}
