{% extends 'base.html.twig' %}

{% block title %} - Projet{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('styles/buttons.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/calendar.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/projet.css') }}">
{% endblock %}

{% block content %}
    <div class="grid">
        <div class="page-rightbar">
            <div class="item">
                <div style="margin: 10px;">
                    <h2 style="margin: 10px;">Arborescence du projet</h2>
                    {{ htmlTree|raw }}
                </div>
            </div>
        </div>

        <div class="page-header">
            <div class="item">
                <div class="proj-head" style="margin: 10px;">
                    <div>
                        <h1>{{ projet.name }}</h1>
                    </div>
                    <div style="margin-top: 10px;">
                        <div class="cal-container">
                            <div>
                                <span>Débute le :</span><input type="date" value="{{ projet.startDate ? projet.startDate|date('Y-m-d') : '' }}"/>
                            </div>
                            <div>
                                <span>Fini le :</span><input type="date" value="{{ projet.dateEnd ? projet.dateEnd|date('Y-m-d') : '' }}"/>
                            </div>
                        </div>
                        <span>Id : {{ projet.id }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-main">
            <div class="item">
                
            </div>
        </div>
    </div>
{% endblock %}
