{% extends 'base.html.twig' %}

{% block title %}RelationProjetSociete index{% endblock %}

{% block content %}
    <h1>RelationProjetSociete index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Role</th>
                <th>Notes</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for relation_projet_societe in relation_projet_societes %}
            <tr>
                <td>{{ relation_projet_societe.id }}</td>
                <td>{{ relation_projet_societe.role }}</td>
                <td>{{ relation_projet_societe.notes }}</td>
                <td>
                    <a class="btn" href="{{ path('app_relation_projet_societe_show', {'id': relation_projet_societe.id}) }}">show</a>
                    <a class="btn" href="{{ path('app_relation_projet_societe_edit', {'id': relation_projet_societe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_relation_projet_societe_new') }}">Create new</a>
{% endblock %}
