{% extends 'base.html.twig' %}

{% block title %} - Edit Adresse{% endblock %}


{% block path %}
    <a href="{{ path('app_adresse_index') }}">Adresses/</a>
    <a href="{{ path('app_adresse_show', {'id': adresse.id}) }}">{{ adresse.numeroVoie }} {{ adresse.nomVoie }} à {{ adresse.commune }}/</a>
    <a href="{{ path('app_adresse_edit', {'id': adresse.id}) }}">Edit</a>
{% endblock %}
{% block content %}
    {{ include('adresse/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('adresse/_delete_form.html.twig') }}
    
{% endblock %}
