{% extends 'base.html.twig' %}

{% block title %} - Adresse index{% endblock %}


{% block path %}
    <a href="{{ path('app_adresse_index') }}">Adresses</a>
{% endblock %}
{% block content %}
    <table class="table">
        <thead>
                <tr>
                    <th>Adresse</th>
                    <th>Société</th>
                    <th>Nom du Site</th>
                </tr>
        </thead>
        <tbody>
                {% for adresse in adresses %}
                    <tr onclick="window.location.href = '{{ path('app_adresse_show', {'id': adresse.id}) }}'">
                        <td>
                            {{ adresse.numeroVoie }} {{ adresse.nomVoie }},<br>
                            {{ adresse.codePostal }} {{ adresse.commune }}, {{ adresse.pays }}
                        </td>
                        <td>{{ adresse.societe }}</td>
                        <td>{{ adresse.nomSite }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">no records found</td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>

    <a class="btn create" href="{{ path('app_adresse_new') }}">Create new</a>
    
{% endblock %}
