{% extends 'base.html.twig' %}

{% block title %} - Adresse index{% endblock %}


{% block path %}
    <a href="{{ path('app_adresse_index') }}">Adresses</a>
{% endblock %}
{% block content %}
    <table class="table">
        <thead>
                <tr>
                    <th>Nom du Site</th>
                    <th>Pays</th>
                    <th>Commune</th>
                    <th>Code Postal</th>
                    <th>Nom de la voie</th>
                    <th>Numéro de la voie</th>
                    <th>Complément</th>
                </tr>
        </thead>
        <tbody>
                {% for adresse in adresses %}
                    <tr onclick="window.location.href = '{{ path('app_adresse_show', {'id': adresse.id}) }}'">
                        <td>{{ adresse.nomSite }}</td>
                        <td>{{ adresse.pays }}</td>
                        <td>{{ adresse.commune }}</td>
                        <td>{{ adresse.codePostal }}</td>
                        <td>{{ adresse.nomVoie }}</td>
                        <td>{{ adresse.numeroVoie }}</td>
                        <td>{{ adresse.complement }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">no records found</td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>

    <a class="btn create" href="{{ path('app_adresse_new') }}">Create new</a>
    
{% endblock %}
