{% extends 'base.html.twig' %}
{% set adresse = render(path('api_adresse_show', {'id': id}))|json_decode %}

{% block title %} - Adresse{% endblock %}


{% block path %}
    <a href="{{ path('app_societe_index') }}">Sociétés/</a>
    <a href="{{ path('app_societe_show', {'id': adresse.societe.id}) }}">{{ adresse.societe.nom }}/</a>
    <a href="{{ path('app_adresse_show', {'id': id}) }}">{{ adresse.nomSite }}</a>
{% endblock %}
{% block content %}
    <div style="display: flex; justify-content: space-evenly;">

        <div>
            <h2>Adresse :</h2>

            <a class="btn" onclick="uiPopupBtn('#editAdresse')">edit</a>
            <table style="margin-top: 10px;" class="table">
                
                <tbody>
                        <tr>
                            <th>Nom du site</th>
                            <td>{{ adresse.nomSite }}</td>
                        </tr>
                        <tr>
                            <th>Societe</th>
                            <td>{{ adresse.societe.nom }}</td>
                        </tr>
                        <tr>
                            <th>Adresse</th>
                            <td>
                                {{ adresse.numeroVoie }} {{ adresse.nomVoie }},<br>
                                {{ adresse.codePostal }} {{ adresse.commune }}, {{ adresse.pays }}
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>

        <div>
            <h2> Contacts associés : </h2>

            <a class="btn" onclick="uiPopupBtn('#menueContactSites')">asocier contact</a>
            <table style="margin-top: 10px;" class="table objTable"> <!-- liste contacts -->
                <thead>
                    <tr>
                        <th colspan="2">
                            <span>contacts</span>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for relation in adresse.contacts %}
                        <tr class="collapsible" onclick="colaps(this)">
                            <td>{{ relation.role }}</td>
                            <td>{{ relation.contact.nom }} {{ relation.contact.prenom }}</td>
                        </tr>
                        <tr class="collContent">
                            <td colspan="2">
                                <div>
                                    <div class="spacedLine">
                                        <span>infos :</span>
                                        <a class="btn" onclick="uiPopupBtn('#menueContactSites{{ relation.id }}')">modifier</a>
                                    </div>
                                    <ul>
                                        tél: {{ relation.contact.telephone }}<br>
                                        mél: {{ relation.contact.mel }}<br>
                                        notes :
                                        <ul>
                                            {{ relation.notes|nl2br }}
                                        </ul>
                                    </ul>

                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2">aucun contact associés</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    <div id="editAdresse"> <!-- popup edit adresse -->
        <span>modifier l'adresse :</span>

        <a class="btn delete" onclick="apiDeleteObj('{{ path("api_adresse_delete", {"id": id}) }}', '{{ path("app_societe_show", {"id": adresse.societe.id}) }}');">Delete</a>

        {{ include('adresse/_form.html.twig', {'edit': adresse.id}) }}
    </div>

    <div id="menueContactSites"> <!-- popup asoc contact sur site -->
        <span>Associés un contact au site :</span>

        {{ include('relation_contact_adresse/_form.html.twig') }}
    </div>

    {% for relation in adresse.contacts %}
        <div id="menueContactSites{{ relation.id }}"> <!-- popup edit relation contact adresse -->
            <span>Modifier la relation du contact au site :</span>

            <a class="btn delete" onclick="apiDeleteObj('{{ path("api_relation_contact_adresse_delete", {"id": relation.id}) }}', '{{ path("app_adresse_show", {"id": id}) }}');">Delete</a>

            {{ include('relation_contact_adresse/_form.html.twig', {'edit': relation.id}) }}
        </div>
    {% endfor %}
    

    <script>
        $(function() {
            $( "#editAdresse" ).popup();
            $( "#menueContactSites" ).popup();
            {% for relation in adresse.contacts %}
                $( "#menueContactSites{{ relation.id }}" ).popup();
            {% endfor %}
        }) 
    </script>
    
{% endblock %}