{% extends 'base.html.twig' %}
{% set contacts = render(path('api_contact_index'))|json_decode %}

{% block title %} - Contact index{% endblock %}


{% block path %}
    <a href="{{ path('app_contact_index') }}">Contacts</a>
{% endblock %}
{% block content %}
    <table class="table">
        <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Mél</th>
                    <th>Téléphone</th>
                    <th>Pôst</th>
                </tr>
        </thead>
        <tbody id="contactTable">
            {% for contact in contacts %}
                <tr onclick="window.location.href = '{{ path("app_contact_show", {"id": contact.id }) }}'">
                    <td>{{ contact.nom }}</td>
                    <td>{{ contact.prenom }}</td>
                    <td>{{ contact.mel }}</td>
                    <td>{{ contact.telephone }}</td>
                    <td>{{ contact.post}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn create" onclick="uiPopupBtn('#nvxContact')">Create new</a>
    
    <div id="nvxContact"> <!-- popup NVX contact -->
        <span>Créer un nouveaux contact :</span>

        {{ include('contact/_form.html.twig') }}
        
    </div>
    

    <script>
        $(function(){
            $( "#nvxContact" ).popup();
        });
    </script>
    
{% endblock %}