{% extends 'base.html.twig' %}
{% import "contact/_form.html.twig" as contact_form %}

{% block title %} - Contact index{% endblock %}


{% block path %}
    <a href="{{ path('app_contact_index') }}">Contacts</a>
{% endblock %}
{% block content %}
    <table class="table">
        <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Mél</th>
                    <th>Téléphone</th>
                    <th>Pôst</th>
                </tr>
        </thead>
        <tbody id="contactTable">
            <tr onclick="window.location.href = '{{ path('app_contact_index')}}/#contactTable.id#'">
                <td>#contactTable.nom#</td>
                <td>#contactTable.prenom#</td>
                <td>#contactTable.mel#</td>
                <td>#contactTable.telephone#</td>
                <td>#contactTable.post#</td>
            </tr>
        </tbody>
    </table>

    <a class="btn create" onclick="uiPopupBtn('#nvxContact')">Create new</a>
    
    <div id="nvxContact"> <!-- popup NVX contact -->
        <span>Créer un nouveaux contact :</span>

        {{ contact_form.form() }}
        
    </div>
    
{% endblock %}

{% block script %}
    <script>
        $(function(){
            $("#contactTable").jsonObjTable("{{ path('api_contact_index') }}");

            $( "#nvxContact" ).popup();
            {{ contact_form.script() }}
        });
    </script>
{% endblock %}