{% extends 'base.html.twig' %}

{% block title %} - Contact index{% endblock %}


{% block path %}
    <a href="{{ path('app_contact_index') }}">Contacts</a>
{% endblock %}
{% set contacts =  path('api_contact_index') %}
{% block content %}
    <table class="table">
        <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Mél</th>
                    <th>Téléphone</th>
                    <th>Pôst</th>
                </tr>
        </thead>
        <tbody id="contactTable">
            <tr onclick="window.location.href = '{{ path('app_contact_index')}}/#contactTable.id#'">
                <td>#contactTable.nom#</td>
                <td>#contactTable.prenom#</td>
                <td>#contactTable.mel#</td>
                <td>#contactTable.telephone#</td>
                <td>#contactTable.post#</td>
            </tr>
        </tbody>
                {#% for contact in contacts %}
                    <tr onclick="window.location.href = '{{ path('app_contact_show', {'id': contact.id}) }}'">
                        <td>{{ contact.nom }}</td>
                        <td>{{ contact.prenom }}</td>
                        <td>{{ contact.mel }}</td>
                        <td>{{ contact.telephone }}</td>
                        <td>{{ contact.post }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endfor %#}
    </table>

    <a class="btn create" href="{{ path('app_contact_new') }}">Create new</a>

    <script>
        //var contactsRoute = "{{ path('api_contact_index') }}";
        //var contacts;
        $(function(){
            contacts = $("#contactTable").jsonObjTable("{{ path('api_contact_index') }}");
            //console.log("contacts: ", contacts);
        })
    </script>
    
{% endblock %}
