{% extends 'base.html.twig' %}

{% block title %} - Contact{% endblock %}


{% block path %}
    <a href="{{ path('app_contact_index') }}">Contacts/</a>
    <a href="{{ path('app_contact_index') }}/#contact.id#">#contact.nom# #contact.prenom#</a>
{% endblock %}
{% block content %}
    <table class="table">
        <tbody>
                <tr>
                    <th>Nom</th>
                    <td>#contact.nom#</td>
                </tr>
                <tr>
                    <th>Prénom</th>
                    <td>#contact.prenom#</td>
                </tr>
                <tr>
                    <th>Mél</th>
                    <td>#contact.mel#</td>
                </tr>
                <tr>
                    <th>Téléphone</th>
                    <td>#contact.telephone#</td>
                </tr>
                <tr>
                    <th>Pôst</th>
                    <td>#contact.post#</td>
                </tr>
                    <th>Société</th>
                    <td>#contact.societe.nom#</td>
                </tr>
        </tbody>
    </table>

    <a class="btn" href="{{ path('app_contact_edit', {'id': id}) }}">edit</a>
    
    <a class="btn delete" onclick="apiDeleteObj('{{ path("api_contact_delete", {"id": id}) }}', '{{ path("app_contact_index") }}');">Delete</a>
    
    
{% endblock %}

{% block script %}
    <script>
        $(function(){
            $("#main").jsonObjReplace("contact", "{{ path('api_contact_show', {'id': id}) }}");
        });
    </script>
{% endblock %}
