<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>- CRM{% block title %}{% endblock %}</title>

        {{ importmap('app') }}
        <link rel="icon" href="{{ asset('img/H.png') }}">
        <script src="{{ asset('scripts/jquery-3.7.1.min.js') }}"></script>
        <script src="{{ asset('scripts/uiScripts.js') }}"></script>
        {% block head %}{% endblock %}
        <script>
            {% if is_granted('ROLE_USER') %}
                var menueFlag = 0;

                function openMenue() {
                    document.getElementById("sideMenue").style.width = "250px";
                    document.getElementById("main").style.marginLeft = "250px";
                    document.getElementById("main").style.width = "calc(100% - 250px)";
                    menueFlag = 1;
                }function closeMenue() {
                    document.getElementById("sideMenue").style.width = "0";
                    document.getElementById("main").style.marginLeft = "0";
                    document.getElementById("main").style.width = "100%";
                    menueFlag = 0;
                }

                function triggerMenue() {
                    if (menueFlag == 0){
                        openMenue();
                    }else{
                        closeMenue();
                    }
                }

            {% endif %}
            
            // unwrap function (history)
            function unwrap(coll) {
                var content = coll.nextElementSibling;
                content.classList.toggle("is-open");
            }

            // colapsibl element (objTable)
            function colaps(coll) {
                var content = coll.nextElementSibling;
                if (content.style.display === "table-row") {
                    coll.classList.toggle("active");
                    content.style.display = "none";
                } else {
                    var allColl = document.getElementsByClassName("collapsible");
                    for (i = 0; i < allColl.length; i++) {
                        allColl[i].classList.remove("active");
                        allColl[i].nextElementSibling.style.display = "none";
                    }
                    coll.classList.toggle("active");
                    content.style.display = "table-row";
                }   
            }
        </script>

    </head>






    <body>
        <div id="main">

            {% block navMenue %}
                <div id="banner"> <!-- BANDEAU -->
                    {% if is_granted('ROLE_USER') %}

                        <div>
                            <span class="navigator">
                                <a style="font-weight: normal;" onclick="triggerMenue()">&#9776;</a> <!-- bouton du menue navigation -->
                                {% block path %}{% endblock %}
                            </span>
                        </div>
                        

                        <div class="dropdown"> <!-- menue utilisateur -->
                            <div class="currentUser">
                                <img src="{{ asset('img/H.png') }}" style="height:100%">
                                <span>{{ app.user.name }}</span>
                            </div>

                            <div class="dropdown-content"> <!-- options -->
                                <a href="{{ path('app_user_show', {'id': app.user.id}) }}">Modifier profile</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </div>

                    {% else %}
                        <img src="{{ asset('img/H.png') }}" style="height:100%">
                    {% endif %}

                </div>
                
                
                {% if is_granted('ROLE_USER') %} <!-- MENUE NAVIGATION -->
                    <div id="sideMenue">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeMenue()">&times;</a>
                            <a href="{{ path('app_home_index') }}">Tableau de bord</a>
                            <a href="{{ path('app_projet_index') }}">Projets</a>
                            <a href="{{ path('app_societe_index') }}">Sociétés</a>
                            <a href="{{ path('app_adresse_index') }}">Adresses</a>
                            <a href="{{ path('app_contact_index') }}">Contacts</a>
                            <a href="{{ path('app_history_index') }}">Historique</a>
                    </div>

                {% endif %}
            {% endblock %}

            <!-- ZONE CONTENUS -->
            <div class="content">{% block content %}{% endblock %}</div>
            <!--div id="footer"> {% block footer %}{% endblock %}</div-->

        </div>
        
        {% block script %}
            <script>
            </script>
        {% endblock %}

    </body>

</html>
