<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>- CRM{% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/hFull.png') }}">
        {% block head %}{% endblock %}
        {{ importmap('app') }}
        <script>
            {% if is_granted('ROLE_USER') %}
                /* Set the width of the side navigation to 250px */
                var menueFlag = 0;
                function openMenue() {
                    document.getElementById("sideMenue").style.width = "250px";
                    document.getElementById("main").style.marginLeft = "250px";
                    document.getElementById("main").style.width = "calc(100% - 250px)";
                    menueFlag = 1;
                }

                /* Set the width of the side navigation to 0 */
                function closeMenue() {
                    document.getElementById("sideMenue").style.width = "0";
                    document.getElementById("main").style.marginLeft = "0";
                    document.getElementById("main").style.width = "100%";
                    menueFlag = 0;
                }

                function triggerMenue() {
                    if (menueFlag == 0){
                        openMenue();
                    }else{
                        closeMenue();
                    }
                        
                }
            {% endif %}
        </script>
    </head>
    <body>
        <div id="banner">
            {% if is_granted('ROLE_USER') %}
                <span class="menueBtn" onclick="triggerMenue()">&#9776;</span>
                <div class="dropdown">
                    <div class="currentUser">
                        <img src="{{ asset('img/h.png') }}" style="height:100%">
                        <span>{{ app.user.name }}</span>
                    </div>
                    <div class="dropdown-content">
                        <a href="/user/{{ app.user.id }}">Modifier profile</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
            {% else %}
                <img src="{{ asset('img/h.png') }}" style="height:100%">
            {% endif %}
        </div>
        
        
        {% if is_granted('ROLE_USER') %}
            <div id="sideMenue">
                <a href="javascript:void(0)" class="closebtn" onclick="closeMenue()">&times;</a>
                <a href="/">Tableau de bord</a>
                <a href="/projet">Projets</a>
                <a href="#">Clients</a>
                <a href="#">Contact</a>
                <a href="/historique">Historique</a>
            
            </div>
        {% endif %}


        <div id="main">
            <div class="content">{% block content %}{% endblock %}</div>
            <div id="footer">{% block footer %}{% endblock %}</div>
        </div>
        
    </body>
</html>
