{% extends 'api/api_base.html.twig' %}

{% block title %} - Index {{ class }}{% endblock %}
{% block head %}
    <script src="{{ asset('scripts/docs.js') }}"></script>
{% endblock %}


{% block path %}
    <a href="{{ path('api_' ~ class ~ '_documentation') }}">{{ class|capitalize }}s</a>
{% endblock %}

{% block doc %}
    <p>{{ class|capitalize }} scheama :</p>

    <ul>
        {% for atribute in atributes %}
            <li><span>{{ atribute[0] }} > type : {{ atribute[1] }}</span></li>
        {% endfor %}
    </ul>


    <p>Liste des endpoints pour la ressource {{ class|capitalize }} :</p>
    <div class="section">
        <div class="endpoints">

                    <!-- INDEX -->
            <div class="endpoint" onclick="selectUnwrap(this)">
                <div class="method" style="color:green">GET</div>
                <div>
                    <span>api_{{ class }}_index</span>
                    Récupère la liste des {{ class }}s
                </div>
            </div>
            <div class="selectWrapper">
                <div>
                    <p>JS code:<p>
                    <div class="jsonDisplay">
                        <div class="indent">
                            fetch(<span class="highlight">"{{ url('api_' ~ class ~ '_index') }}<span id="indexFilter"></span>"</span>, {
                                <div class="indent">
                                    method: <span class="highlight">"GET"</span>, <br>
                                    headers: {
                                        <div class="indent">
                                            <span class="highlight">"Accept": "application/json"</span>,
                                        </div>
                                    },
                                </div>
                            }) <br>
                            .then((response) => response.text()) <br>
                            .then((result) => console.log(result)) <br>
                            .catch((error) => console.error(error));
                        </div>
                    </div>
                    
                    <p> Options :</p>
                    <div class="apiForm">
                        <form id="indexForm">
                            <table>
                                <tr>
                                    <td><label for="indexInputFilter">filter:</label></td>
                                    <td><input type="text" id="indexInputFilter" name="filter"></td>
                                </tr>

                                <tr>
                                    <td colspan="2"><input type="submit" class="btn" value="Envoyer"></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>

                    <!-- SHOW -->
            <div class="endpoint" onclick="selectUnwrap(this)">
                <div class="method" style="color:green">GET</div>
                <div>
                    <span>api_{{ class }}_show</span>
                    Récupère un élément {{ class }} par son id
                </div>
            </div>
            <div class="selectWrapper">
                <div>
                    <p>JS code:<p>
                    <div class="jsonDisplay">
                        <div class="indent">
                            fetch(<span class="highlight">"{{ url('api_' ~ class ~ '_index') }}/<span id="showId">{id}</span>"</span>, {
                                <div class="indent">
                                    method: <span class="highlight">"GET"</span>, <br>
                                    headers: {
                                        <div class="indent">
                                            <span class="highlight">"Accept": "application/json"</span>,
                                        </div>
                                    },
                                </div>
                            }) <br>
                            .then((response) => response.text()) <br>
                            .then((result) => console.log(result)) <br>
                            .catch((error) => console.error(error));
                        </div>
                    </div>

                    <p> Options :</p>
                    <div class="apiForm">
                        <form id="showForm">
                            <table>
                                <tr>
                                    <td><label for="showInputId">id:</label></td>
                                    <td><input type="number" id="showInputId" name="id"></td>
                                </tr>

                                <tr>
                                    <td colspan="2"><input type="submit" class="btn" value="Envoyer"></td>
                                </tr>
                            </table>
                        </form>
                    </div>

                </div>
            </div>

                    <!-- CREATE -->
            <div class="endpoint" onclick="selectUnwrap(this)">
                <div class="method" style="color:orange">POST</div>
                <div>
                    <span>api_{{ class }}_new</span>
                    Crée un nouvel élément {{ class }}
                </div>
            </div>
            <div class="selectWrapper">
                <div>
                    <p>JS code:<p>
                    <div class="jsonDisplay">
                        <div class="indent">
                            fetch(<span class="highlight">"{{ url('api_' ~ class ~ '_new') }}"</span>, {
                                <div class="indent">
                                    method: <span class="highlight">"POST"</span>, <br>
                                    headers: {
                                        <div class="indent">
                                            <span class="highlight">"Accept": "application/json"</span>,
                                        </div>
                                    }, <br>
                                    body: {
                                        <div class="indent">
                                            <span class="highlight" id="crateBody">
                                                &#x2022;&#x2022;&#x2022;<br> 
                                                &nbsp;form data<br> 
                                                &#x2022;&#x2022;&#x2022;
                                            </span>
                                        </div>
                                    },
                                </div>
                            }) <br>
                            .then((response) => response.text()) <br>
                            .then((result) => console.log(result)) <br>
                            .catch((error) => console.error(error));
                        </div>
                    </div>

                    <p> Options :</p>
                    <div class="apiForm">
                        {% set formRender = include('api/_form.html.twig') %}
                        {{ formRender|raw }}
                    </div>

                </div>
            </div>

                    <!-- UPDATE -->
            <div class="endpoint" onclick="selectUnwrap(this)">
                <div class="method" style="color:orange">POST</div>
                <div>
                    <span>api_{{ class }}_edit</span>
                    Met à jour un élément {{ class }} existante
                </div>
            </div>
            <div class="selectWrapper">
                <div>
                    <p>JS code:<p>
                    <div class="jsonDisplay">
                        <div class="indent">
                            fetch(<span class="highlight">"{{ url('api_' ~ class ~ '_index') }}/<span id="updateId">{id}</span>"</span>, {
                                <div class="indent">
                                    method: <span class="highlight">"POST"</span>, <br>
                                    headers: {
                                        <div class="indent">
                                            <span class="highlight">"Accept": "application/json"</span>,
                                        </div>
                                    }, <br>
                                    body: {
                                        <div class="indent">
                                            <span class="highlight" id="updateBody">
                                                &#x2022;&#x2022;&#x2022;<br> 
                                                &nbsp;form data<br> 
                                                &#x2022;&#x2022;&#x2022;
                                            </span>
                                        </div>
                                    },
                                </div>
                            }) <br>
                            .then((response) => response.text()) <br>
                            .then((result) => console.log(result)) <br>
                            .catch((error) => console.error(error));
                        </div>
                    </div>

                    <p> Options :</p>
                    <div class="apiForm">
                        <table>
                            <tr>
                                <td><label for="updateInputId">id:</label></td>
                                <td><input type="number" id="updateInputId" name="id"></td>
                            </tr>
                        </table>

                        {{ formRender|replace({'id="createForm"': 'id="updateForm"'})|raw }}
                    </div>

                </div>
            </div>

                    <!-- DELETE -->
            <div class="endpoint" onclick="selectUnwrap(this)">
                <div class="method" style="color:red">DELETE</div>
                <div>
                    <span>api_{{ class }}_delete</span>
                    Supprime un élément {{ class }} par son id
                </div>
            </div>
            <div class="selectWrapper">
                <div>
                    <p>JS code:<p>
                    <div class="jsonDisplay">
                        <div class="indent">
                            fetch(<span class="highlight">"{{ url('api_' ~ class ~ '_index') }}/<span id="deleteId">{id}</span>"</span>, {
                                <div class="indent">
                                    method: <span class="highlight">"DELETE"</span>, <br>
                                    headers: {
                                        <div class="indent">
                                            <span class="highlight">"Accept": "application/json"</span>,
                                        </div>
                                    },
                                </div>
                            }) <br>
                            .then((response) => response.text()) <br>
                            .then((result) => console.log(result)) <br>
                            .catch((error) => console.error(error));
                        </div>
                    </div>

                    <p> Options :</p>
                    <div class="apiForm">
                        <form id="deleteForm">
                            <table>
                                <tr>
                                    <td><label for="deleteInputId">id:</label></td>
                                    <td><input type="number" id="deleteInputId" name="id"></td>
                                </tr>

                                <tr>
                                    <td colspan="2"><input type="submit" class="btn" value="Envoyer"></td>
                                </tr>
                            </table>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>


    <script>

        // *** ENDPOINTS SCRIPTS ***
            // -- INDEX --
                    // Update display
                        $("#indexInputFilter").on("input", function() {
                            if($(this).val() != ""){
                                $("#indexFilter").html("?"+$(this).val());
                            }
                            else{
                                $("#indexFilter").html("");
                            }
                        });

                    // Submit form
                        $("#indexForm").on('submit', function(e) {
                            e.preventDefault(); // prevent native submit

                            let filter = "";
                            if($("#indexInputFilter").val() != ""){
                                filter = "?"+$("#indexInputFilter").val();
                            }

                            fetch("{{ path('api_' ~ class ~ '_index') }}" + filter, {
                                method: "GET",
                            })
                            .then((response) => response.text())
                            .then((html) => displayResponse(html))
                            .catch((error) => console.error(error));
                        });


            // -- SHOW --
                // Update display
                    $("#showInputId").on("input", function() {
                        $("#showId").html($(this).val());
                    });
                // Submit form
                    $("#showForm").on('submit', function(e) {
                        e.preventDefault(); // prevent native submit

                        fetch("{{ path('api_' ~ class ~ '_index') }}/"+$("#showInputId").val(), {
                            method: "GET",
                        })
                        .then((response) => response.text())
                        .then((html) => displayResponse(html))
                        .catch((error) => console.error(error));
                    });


            // -- CREATE --
                // Update display
                    $("#createForm").on("input change", function() {
                        let formData = $(this).serializeArray();
                        let bodyContent = formData.map(item => `"${item.name}": "${item.value}"`).join(",<br>");
                        $("#crateBody").html(bodyContent);
                    });
                // Submit form
                    $("#createForm").on('submit', function(e) {
                        e.preventDefault(); // prevent native submit

                        let formData = new FormData(this);
                        fetch("{{ path('api_' ~ class ~ '_new') }}", {
                            method: "POST",
                            body: formData
                        })
                        .then((response) => response.text())
                        .then((html) => displayResponse(html))
                        .catch((error) => console.error(error));
                    });


            // -- UPDATE --
                // Update display
                    $("#updateInputId").on("input", function() {
                        $("#updateId").html($(this).val());
                    });
                    //*
                    $('#updateInputId').on('change', function() {
                        fetch("{{ path('api_' ~ class ~ '_index') }}/"+$(this).val(), {
                            method: "GET",
                            headers: {
                                "Accept": "application/json",
                            },
                        })
                        .then((response) =>{
                            if (!response.ok) {
                                throw new Error("Network response was not ok " + response.statusText);
                            }
                            return response.json();
                        })
                        .then((data) => {
                            // Populate form fields with fetched data
                            //itterate form elements
                            for(var key of $("#updateForm")[0]){  
                                var m;
                                if(m = key.name.match(/\[(.+)\]/)){
                                    //check if key exists in object
                                    if(data[m[1]]){ 
                                        if(data[m[1]].id){
                                            //set form element value for related objects
                                            key.value = data[m[1]].id; 
                                        }
                                        else{
                                            //set form element value
                                            key.value = data[m[1]]; 
                                        }
                                    }
                                }
                            }
                            // Trigger input/change to update body display
                            $("#updateForm").trigger("change");
                        })
                        .catch((error) => {
                            console.error(error);
                            // Clear form fields
                            //itterate form elements
                            for(var key of $("#updateForm")[0]){ 
                                if(!key.name.match(/\[_token\]/) && key.name != ""){
                                    key.value = "";
                                }
                            }
                            // Trigger input/change to update body display
                            $("#updateForm").trigger("change");
                        });
                    }); //*/
                    $("#updateForm").on("input change", function() {
                        let formData = $(this).serializeArray();
                        let bodyContent = formData.map(item => `"${item.name}": "${item.value}"`).join(",<br>");
                        $("#updateBody").html(bodyContent);
                    });
                // Submit form
                    $("#updateForm").on('submit', function(e) {
                        e.preventDefault(); // prevent native submit

                        let formData = new FormData(this);
                        fetch("{{ path('api_' ~ class ~ '_index') }}/"+$("#updateInputId").val(), {
                            method: "POST",
                            body: formData
                        })
                        .then((response) => response.text())
                        .then((html) => displayResponse(html))
                        .catch((error) => console.error(error));
                    });


            // -- DELETE --
                // Update display
                    $("#deleteInputId").on("input", function() {
                        $("#deleteId").html($(this).val());
                    });
                // Submit form
                    $("#deleteForm").on('submit', function(e) {
                        e.preventDefault(); // prevent native submit

                        fetch("{{ path('api_' ~ class ~ '_index') }}/"+$("#deleteInputId").val(), {
                            method: "DELETE",
                        })
                        .then((response) => response.text())
                        .then((html) => displayResponse(html))
                        .catch((error) => console.error(error));
                    });

            // -- RESPONSE DISPLAY --
                function displayResponse(html) {

                    // Convert the HTML string into a document object
                    var parser = new DOMParser();
                    var doc = parser.parseFromString(html, 'text/html');

                    // Extract the content inside the 'response' div
                    var newContent = doc.getElementById('response').innerHTML;

                    // Replace the current 'response' div content with the new content
                    document.getElementById('response').innerHTML = newContent;
                }
                
    </script>
{% endblock %}

{% block content %}
    <div id="response">
        <p> Données retournées pour <span style="font-weight:bold">[ &#x2022;&#x2022;&#x2022; ]</span> :</p>
        <div class="section">
            <div class="jsonDisplay">
                <div class="indent">Aucune donnée retournée.</div>
            </div>
        </div>
    </div>
{% endblock %}
