<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>- CRM - api{% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/H.png') }}">

        {{ importmap('app') }}
        
        <script src="{{ asset('scripts/jquery-3.7.1.min.js') }}"></script>
        <!-- script src="{{ asset('scripts/uiScripts.js') }}"></script !-->
        {% block head %}{% endblock %}

    </head>






    <body>
        <div id="main">

            {% block navMenue %}
                <div id="banner"> <!-- BANDEAU -->

                        <div>
                            <span class="navigator">
                                <a style="font-weight: normal;" href="{{ path('api_home') }}"> API HOME</a> <!-- bouton du menue navigation -->
                                {% block path %}{% endblock %}
                            </span>
                        </div>
                        

                        <div class="dropdown"> <!-- menue utilisateur -->
                            <div class="currentUser">
                                <img src="{{ asset('img/H.png') }}" style="height:100%">
                                <span>{{ app.user.name }}</span>
                            </div>

                            <div class="dropdown-content"> <!-- options -->
                                <a href="{{ path('app_user_show', {'id': app.user.id}) }}">Modifier profile</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </div>


                </div>
                
                
            {% endblock %}

            <!-- ZONE CONTENUS -->

            <div class="content">
                <div class="documentation">
                    <h1>Documentation API</h1>
                    {% block doc %} 
                        <p>Toutes les classes disponibles dans l'api :</p>
                        
                        <ul>
                            {% for item in data %}
                                <li><a href="{{ path('api_' ~ item ~ '_documentation') }}">{{ item|capitalize }}s</a></li>
                            {% endfor %}
                        </ul>
                    {% endblock %}
                </div>

                {% block content %}{% endblock %}
            </div>

        </div>
        

    </body>

</html>
