{% extends 'api/api_base.html.twig' %}

{% block title %} - Index {{ class }}{% endblock %}


{% block path %}
    <a href="{{ path('api_' ~ class ~ '_index') }}">{{ class|capitalize }}s</a>
{% endblock %}

{% block doc %}
    <p>{{ class|capitalize }} scheama :</p>

    <ul>
        {% for atribute in atributes %}
            <li><span>{{ atribute[0] }} > type : {{ atribute[1] }}</span></li>
        {% endfor %}
    </ul>


    <p>Liste des endpoints pour la ressource {{ class|capitalize }} :</p>

    <div class="endpoints">
        <div class="endpoint" onclick="selectUnwrap(this)">
            <div class="method" style="color:green">GET</div>
            <div>
                <span>/{{ class }}_api</span>
                Récupère la liste des {{ class }}s
            </div>
        </div>
        <div class="selectWrapper">
            <div>
                <p>JS code:<p>
                <div class="jsonDisplay">
                    <p>const myHeaders = new Headers(); <br>
                        myHeaders.append("Accept", "application/json"); <br>
                        <br>
                        const requestOptions = { <br>
                        method: "GET", <br>
                        headers: myHeaders, <br>
                        redirect: "follow" <br>
                        }; <br>
                        <br>
                        fetch("http://192.168.10.2/projet_api", requestOptions) <br>
                        .then((response) => response.text()) <br>
                        .then((result) => console.log(result)) <br>
                        .catch((error) => console.error(error));
                    </p>
                </div>
            </div>
        </div>
        <div class="endpoint" onclick="selectUnwrap(this)">
            <div class="method" style="color:green">GET</div>
            <div>
                <span>/{{ class }}_api/{id}</span>
                Récupère un élément {{ class }} par son id
            </div>
        </div>
        <div class="selectWrapper">
            <div>
                <br>
            </div>
        </div>
        <div class="endpoint" onclick="selectUnwrap(this)">
            <div class="method" style="color:orange">POST</div>
            <div>
                <span>/{{ class }}_api</span>
                Crée un nouvel élément {{ class }}
            </div>
        </div>
        <div class="selectWrapper">
            <div>
                <br>
            </div>
        </div>
        <div class="endpoint" onclick="selectUnwrap(this)">
            <div class="method" style="color:orange">POST</div>
            <div>
                <span>/{{ class }}_api/{id}</span>
                Met à jour un élément {{ class }} existante
            </div>
        </div>
        <div class="selectWrapper">
            <div>
                <br>
            </div>
        </div>
        <div class="endpoint" onclick="selectUnwrap(this)">
            <div class="method" style="color:red">DELETE</div>
            <div>
                <span>/{{ class }}_api/{id}</span>
                Supprime un élément {{ class }} par son id
            </div>
        </div>
        <div class="selectWrapper">
            <div>
                <br>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <p> Données retournées pour <span style="font-weight:bold">/{{ class }}_api</span> :</p>
    <div class="jsonDisplay">
        {% if data %}
            <div>{{ data|wraped_json|raw }}</div>
        {% else %}
            <ul>
                <li>aucune entrée</li>
            </ul>
        {% endif %}
    </div>
{% endblock %}
