{% extends 'api/base.html.twig' %}

{% block title %} - Index {{ class }}{% endblock %}


{% block path %}
    <a href="{{ path('api_' ~ class ~ '_documentation') }}">{{ class|capitalize }}</a>
{% endblock %}

{% block doc %}
    <p>{{ class|capitalize }} scheama :</p>

    <ul>
        {% for atribute in atributes %}
            <li><span>{{ atribute[0] }} > type : {{ atribute[1] }}</span></li>
        {% endfor %}
    </ul>


    <p>Liste des endpoints pour la ressource {{ class|capitalize }} :</p>
    <div class="section">
        <div class="endpoints">

                    <!-- INDEX -->
            <div class="endpoint" onclick="selectUnwrap(this)">
                <div class="method" style="color:green">GET</div>
                <div>
                    <span>api_{{ class }}_index</span>
                    Récupère la liste des {{ class }}s
                </div>
            </div>
            <div class="selectWrapper">
                <div>
                    <p>JS code:<p>
                    <div class="jsonDisplay">
                        <div class="indent">
                            fetch(<span class="highlight">"{{ url('api_' ~ class ~ '_index') }}<span id="indexFilter"></span>"</span>, {
                                <div class="indent">
                                    method: <span class="highlight">"GET"</span>, <br>
      		                        credentials: "include",
                                </div>
                            }) <br>
                            .then((response) => {
                                <div class="indent">
                                    if(response.status !== <span class="highlight">200</span>) {
                                        <div class="indent">
                                            throw response;
                                        </div>
                                    } <br>
                                    return response.json();
                                </div>
                            }) <br>
                            .then((result) => console.log(result)) <br>
                            .catch((error) => console.error(error));
                        </div>
                    </div>
                    
                    <p> Options :</p>

                    <p> ordonner par un champ : <br>
                        order=champ1,champ2,!champ3 <br>
                        - le "!" avant le nom du champ, indique un ordre décroissant</p>

                    <p> spécifier des champs à retourner : <br>
                        fields=champ1,champ2,!champ3 <br>
                        - le "!" avant le nom du champ, indique qu'on ne veut pas de ce champ <br>
                        - si aucun champ n'est spécifié, tous les champs sont retournés, sauf s'ils sont marqués avec un "!"</p>

                    <p> paginer le retour : <br>
                        per_page=*<br>
                        - avec * égale au nombre d'éléments par page<br>
                        page=*<br>
                        - avec * égale à l'index de la page que l'on veut afficher<br>
                        - si 'per_page' n'est pas saisie, 'page' seras ignorer</p>

                    <div class="apiForm">
                        <form id="indexForm">
                            <table>
                                <tr>
                                    <td><label for="indexInputFilter">filter:</label></td>
                                    <td><input type="text" id="indexInputFilter" name="filter"></td>
                                </tr>

                                <tr>
                                    <td colspan="2"><input type="submit" class="btn" value="Envoyer"></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>

                    <!-- SHOW -->
            <div class="endpoint" onclick="selectUnwrap(this)">
                <div class="method" style="color:green">GET</div>
                <div>
                    <span>api_{{ class }}_show</span>
                    Récupère un élément {{ class }} par son id
                </div>
            </div>
            <div class="selectWrapper">
                <div>
                    <p>JS code:<p>
                    <div class="jsonDisplay">
                        <div class="indent">
                            fetch(<span class="highlight">"{{ url('api_' ~ class ~ '_index') }}/<span id="showId">{id}</span><span id="showFilter"></span>"</span>, {
                                <div class="indent">
                                    method: <span class="highlight">"GET"</span>, <br>
      		                        credentials: "include",
                                </div>
                            }) <br>
                            .then((response) => {
                                <div class="indent">
                                    if(response.status !== <span class="highlight">200</span>) {
                                        <div class="indent">
                                            throw response;
                                        </div>
                                    } <br>
                                    return response.json();
                                </div>
                            }) <br>
                            .then((result) => console.log(result)) <br>
                            .catch((error) => console.error(error));
                        </div>
                    </div>

                    <p> Options :</p>

                    <p> specifier des champs à retourner : <br>
                        fields=champ1,champ2,!champ3 <br>
                        - le "!" avant le nom du champ indique qu'on ne veut pas de ce champ <br>
                        - si aucun champ n'est spécifié, tous les champs sont retournés sauf si ils sont marqués avec un "!"</p>

                    <div class="apiForm">
                        <form id="showForm">
                            <table>
                                <tr>
                                    <td><label for="showInputId">id:</label></td>
                                    <td><input type="number" id="showInputId" name="id"></td>
                                </tr>
                                <tr>
                                    <td><label for="showInputFilter">filter:</label></td>
                                    <td><input type="text" id="showInputFilter" name="filter"></td>
                                </tr>

                                <tr>
                                    <td colspan="2"><input type="submit" class="btn" value="Envoyer"></td>
                                </tr>
                            </table>
                        </form>
                    </div>

                </div>
            </div>

                    <!-- CREATE -->
            <div class="endpoint" onclick="selectUnwrap(this)">
                <div class="method" style="color:orange">POST</div>
                <div>
                    <span>api_{{ class }}_new</span>
                    Crée un nouvel élément {{ class }}
                </div>
            </div>
            <div class="selectWrapper">
                <div>
                    <p>JS code:<p>
                    <div class="jsonDisplay">
                        <div class="indent">
                            fetch(<span class="highlight">"{{ url('api_' ~ class ~ '_new') }}"</span>, {
                                <div class="indent">
                                    method: <span class="highlight">"POST"</span>, <br>
      		                        credentials: "include", <br>
                                    body: {
                                        <div class="indent">
                                            <span class="highlight" id="crateBody">
                                                &#x2022;&#x2022;&#x2022;<br> 
                                                &nbsp;form data<br> 
                                                &#x2022;&#x2022;&#x2022;
                                            </span>
                                        </div>
                                    },
                                </div>
                            }) <br>
                            .then((response) => {
                                <div class="indent">
                                    if(response.status !== <span class="highlight">201</span>) {
                                        <div class="indent">
                                            throw response;
                                        </div>
                                    } <br>
                                    return response.json();
                                </div>
                            }) <br>
                            .then((result) => console.log(result)) <br>
                            .catch((error) => console.error(error));
                        </div>
                    </div>

                    <p> Options :</p>
                    <div class="apiForm">
                        {% set formRender = include('api/_form.html.twig') %}
                        {{ formRender|raw }}
                    </div>

                </div>
            </div>

                    <!-- UPDATE -->
            <div class="endpoint" onclick="selectUnwrap(this)">
                <div class="method" style="color:orange">POST</div>
                <div>
                    <span>api_{{ class }}_edit</span>
                    Met à jour un élément {{ class }} existante
                </div>
            </div>
            <div class="selectWrapper">
                <div>
                    <p>JS code:<p>
                    <div class="jsonDisplay">
                        <div class="indent">
                            fetch(<span class="highlight">"{{ url('api_' ~ class ~ '_index') }}/<span id="updateId">{id}</span>"</span>, {
                                <div class="indent">
                                    method: <span class="highlight">"POST"</span>, <br>
      		                        credentials: "include", <br>
                                    body: {
                                        <div class="indent">
                                            <span class="highlight" id="updateBody">
                                                &#x2022;&#x2022;&#x2022;<br> 
                                                &nbsp;form data<br> 
                                                &#x2022;&#x2022;&#x2022;
                                            </span>
                                        </div>
                                    },
                                </div>
                            }) <br>
                            .then((response) => {
                                <div class="indent">
                                    if(response.status !== <span class="highlight">202</span>) {
                                        <div class="indent">
                                            throw response;
                                        </div>
                                    } <br>
                                    return response.json();
                                </div>
                            }) <br>
                            .then((result) => console.log(result)) <br>
                            .catch((error) => console.error(error));
                        </div>
                    </div>

                    <p> Options :</p>
                    <div class="apiForm">
                        <table>
                            <tr>
                                <td><label for="updateInputId">id:</label></td>
                                <td><input type="number" id="updateInputId" name="id"></td>
                            </tr>
                        </table>

                        {{ formRender|replace({'id="createForm"': 'id="updateForm"'})|raw }}
                    </div>

                </div>
            </div>

                    <!-- DELETE -->
            <div class="endpoint" onclick="selectUnwrap(this)">
                <div class="method" style="color:red">DELETE</div>
                <div>
                    <span>api_{{ class }}_delete</span>
                    Supprime un élément {{ class }} par son id
                </div>
            </div>
            <div class="selectWrapper">
                <div>
                    <p>JS code:<p>
                    <div class="jsonDisplay">
                        <div class="indent">
                            fetch(<span class="highlight">"{{ url('api_' ~ class ~ '_index') }}/<span id="deleteId">{id}</span>"</span>, {
                                <div class="indent">
                                    method: <span class="highlight">"DELETE"</span>, <br>
      		                        credentials: "include",
                                </div>
                            }) <br>
                            .then((response) => {
                                <div class="indent">
                                    if(response.status !== <span class="highlight">204</span>) {
                                        <div class="indent">
                                            throw response;
                                        </div>
                                    } <br>
                                    return response.json();
                                </div>
                            }) <br>
                            .then((result) => console.log(result)) <br>
                            .catch((error) => console.error(error));
                        </div>
                    </div>

                    <p> Options :</p>
                    <div class="apiForm">
                        <form id="deleteForm">
                            <table>
                                <tr>
                                    <td><label for="deleteInputId">id:</label></td>
                                    <td><input type="number" id="deleteInputId" name="id"></td>
                                </tr>

                                <tr>
                                    <td colspan="2"><input type="submit" class="btn" value="Envoyer"></td>
                                </tr>
                            </table>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>


    <script src="{{ asset('scripts/docs.js') }}"></script>
    <script>

        // *** ENDPOINTS SCRIPTS ***
            // -- INDEX --
                // Update display
                    $("#indexInputFilter").on("input", function() {
                        if($(this).val() != ""){
                            $("#indexFilter").html("?"+$(this).val());
                        }
                        else{
                            $("#indexFilter").html("");
                        }
                    });

                // Submit form
                    $("#indexForm").on('submit', function(e) {
                        e.preventDefault(); // prevent native submit

                        let filter = "";
                        if($("#indexInputFilter").val() != ""){
                            filter = "?"+$("#indexInputFilter").val();
                        }

                        fetch("{{ path('api_' ~ class ~ '_index') }}" + filter, {
                            method: "GET",
                        headers: {
                            "Accept": "text/html",
                        },
                        })
                        .then((response) => response.text())
                        .then((html) => displayResponse(html))
                        .catch((error) => console.error(error));
                    });


            // -- SHOW --
                // Update display
                    $("#showInputId").on("input", function() {
                        $("#showId").html($(this).val());
                    });
                    $("#showInputFilter").on("input", function() {
                        if($(this).val() != ""){
                            $("#showFilter").html("?"+$(this).val());
                        }
                        else{
                            $("#showFilter").html("");
                        }
                    });

                // Submit form
                    $("#showForm").on('submit', function(e) {
                        e.preventDefault(); // prevent native submit

                        let filter = "";
                        if($("#showInputFilter").val() != ""){
                            filter = "?"+$("#showInputFilter").val();
                        }

                        fetch("{{ path('api_' ~ class ~ '_index') }}/"+$("#showInputId").val() + filter, {
                            method: "GET",
                            headers: {
                                "Accept": "text/html",
                            },
                        })
                        .then((response) => response.text())
                        .then((html) => displayResponse(html))
                        .catch((error) => console.error(error));
                    });


            // -- CREATE --
                // Update display
                    $("#createForm").on("input change", function() {
                        const formData = $(this).serializeArray();
                        const bodyContent = formData.map(item => `"${item.name}": "${item.value}"`).join(",<br>");
                        $("#crateBody").html(bodyContent);
                    });
                // Submit form
                    $("#createForm").on('submit', function(e) {
                        e.preventDefault(); // prevent native submit

                        const formData = new FormData(this);
                        fetch("{{ path('api_' ~ class ~ '_new') }}", {
                            method: "POST",
                            headers: {
                                "Accept": "text/html",
                            },
                            body: formData,
                        })
                        .then((response) => response.text())
                        .then((html) => displayResponse(html))
                        .catch((error) => console.error(error));
                    });


            // -- UPDATE --
                // Update display
                    //*
                    // update form fields on id change
                    $('#updateInputId').on('change', function() {
                        // update id display
                        $("#updateId").html($(this).val());
                        // fetch data for the entered id
                        fetch("{{ path('api_' ~ class ~ '_index') }}/"+$(this).val(), {
                            method: "GET",
                        })
                        .then((response) =>{
                            if (!response.ok) {
                                throw new Error("Bad response: " + response.statusText);
                            }
                            return response.json();
                        })
                        .then((data) => {
                            // Populate form fields with fetched data
                            //itterate form elements
                            //console.log(data);
                            for(let key of $("#updateForm")[0]){  
                                let m;
                                    //console.log(key);
                                if(m = key.name.match(/\[([^\[].+)\]/)){
                                    //ignore _token field
                                    //console.log(m);
                                    if(m[1] == "_token"){
                                        continue;
                                    }
                                    //checkbox handling
                                    if(key.type == "checkbox"){
                                        key.checked = (data['data'][m[1]]) ? true : false;
                                        continue;
                                    }
                                    //check if key exists in object
                                    if(data['data'][m[1]]){ 
                                        if(data['data'][m[1]].id){
                                            //set form element value for related objects
                                            key.value = data['data'][m[1]].id;
                                        }
                                        else{
                                            //set form element value
                                            key.value = data['data'][m[1]];
                                        }
                                    }
                                    else{
                                        //clear form element value
                                        key.value = ""; 
                                    }
                                    
                                }
                            }
                            // Trigger input event to update body display
                            $("#updateForm").trigger("input");
                        })
                        .catch((error) => {
                            console.error(error);
                            // Clear form fields
                            //itterate form elements
                            for(let key of $("#updateForm")[0]){ 
                                if(!key.name.match(/\[_token\]/) && key.name != ""){
                                    key.value = "";
                                }
                            }
                            // Trigger input event to update body display
                            $("#updateForm").trigger("input");
                        });
                    }); //*/
                    $("#updateForm").on("input", function() {
                        const formData = $(this).serializeArray();
                        const bodyContent = formData.map(item => `"${item.name}": "${item.value}"`).join(",<br>");
                        $("#updateBody").html(bodyContent);
                    });
                // Submit form
                    $("#updateForm").on('submit', function(e) {
                        e.preventDefault(); // prevent native submit

                        const formData = new FormData(this);
                        fetch("{{ path('api_' ~ class ~ '_index') }}/"+$("#updateInputId").val(), {
                            method: "POST",
                            headers: {
                                "Accept": "text/html",
                            },
                            body: formData,
                        })
                        .then((response) => response.text())
                        .then((html) => displayResponse(html))
                        .catch((error) => console.error(error));
                    });


            // -- DELETE --
                // Update display
                    $("#deleteInputId").on("input", function() {
                        $("#deleteId").html($(this).val());
                    });
                // Submit form
                    $("#deleteForm").on('submit', function(e) {
                        e.preventDefault(); // prevent native submit

                        fetch("{{ path('api_' ~ class ~ '_index') }}/"+$("#deleteInputId").val(), {
                            method: "DELETE",
                            headers: {
                                "Accept": "text/html",
                            },
                        })
                        .then((response) => response.text())
                        .then((html) => displayResponse(html))
                        .catch((error) => console.error(error));
                    });

            // -- RESPONSE DISPLAY --
                function displayResponse(html) {

                    // Convert the HTML string into a document object
                    const parser = new DOMParser();
                    const doc = parser.parseFromString(html, 'text/html');

                    // Extract the content inside the 'response' div
                    const newContent = doc.getElementById('response').innerHTML;

                    // Replace the current 'response' div content with the new content
                    document.getElementById('response').innerHTML = newContent;
                }
                
    </script>
{% endblock %}

{% block content %}
    <div id="response">
        <p> Données retournées pour <span style="font-weight:bold">[ &#x2022;&#x2022;&#x2022; ]</span> :</p>
        <div class="section">
            <div class="jsonDisplay">
                <div class="indent">Aucune donnée retournée.</div>
            </div>
        </div>
    </div>
{% endblock %}
