{% extends 'base.html.twig' %}
{% set user = render(path('api_user_show', {'id': id}))|json_decode %}

{% block title %} - User{% endblock %}


{% block path %}
    <a>Paramètres/</a>
    <a>Administration/</a>
    <a href="{{ path('app_user_index') }}">Utilisateurs/</a>
    <a href="{{ path('app_user_show', {'id': id}) }}">{{ user.name }}</a>
{% endblock %}
{% block content %}
    <h1>User</h1>

    <table class="table">
        <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Roles</th>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ user.name }}</td>
                </tr>
                <tr>
                    <th>IsVerified</th>
                    <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                </tr>
        </tbody>
    </table>

    <a class="btn" onclick="uiPopupBtn('#editUtilisateur')">edit</a>
    
    <div id="editUtilisateur"> <!-- popup EDIT utilisateur -->
        <span>Créer un nouvelle utilisateur :</span>

        <!--a class="btn delete" onclick="apiDeleteObj('{{ path("api_user_delete", {"id": id}) }}', '{{ path("app_user_index") }}');">Delete</a-->

        {{ include('user/_form.html.twig', {'edit': user.id}) }}
    </div>

    

    <script>
        $(function(){
            $( "#editUtilisateur" ).popup();
        });
    </script>
    
{% endblock %}
